# Merging CSV files
Code used to merge CSV files

In [52]:
# Import necessary libraries.
import numpy as np
import pandas as pd
from sklearn import preprocessing
print("Setup Complete")

Setup Complete

In [53]:
# Import the data.

composition_data = pd.read_csv("/content/ATP3-UFS-Composition.csv", index_col=0, parse_dates=['DATETIME'])
input_data = pd.read_csv("/content/ATP3-UFS-SummaryCombinedData.csv", index_col=0, parse_dates=['DateTime'])
instrumentation_data = pd.read_csv("/content/ATP3-UFS-Instrumentation-daily.csv", index_col = 0, parse_dates=['Date'])
weather_data = pd.read_csv("/content/ATP3-UFS-Weather-daily.csv", index_col = 0, parse_dates=['Date'])

In [54]:
#Clean the Data

input_data= input_data[input_data['Analytical.Sample.ID'].notna()]
composition_data = composition_data.set_index("Analytical.Sample.ID")
input_data = input_data.set_index("Analytical.Sample.ID")
combined_data = composition_data.merge(input_data)
pd.DataFrame.drop_duplicates(combined_data)
combined_data = combined_data.drop(['NH4.mg.L', 'NH4.PCT.RSD', 'crash', 'Comments', 'OD680', 'OD680.PCT.RSD',
                                         'NO3.supplied.g', 'NO3.utilized.g', 'NO3.efficiency..', 'NH4.supplied.g',	'NH4.utilized.g',
                                         'NH4.efficiency..', 'P.supplied.g',	'P.utilized.g',	'P.efficiency..', 'mg.AFDW_mol.PAR.input',
                                         'mg.AFDW_kW.GLE.input'], axis=1).rename(columns={'DATETIME': 'Date'})

In [55]:
#Prepare the Data for Merging

combined_data['Date'] = pd.to_datetime(combined_data['Date'], format='%d%b%Y')
combined_data['Date'] = combined_data['Date'].dt.date
instrumentation_data['Date'] = pd.to_datetime(instrumentation_data['Date'], format='%d%b%Y')
weather_data['Date'] = pd.to_datetime(weather_data['Date'], format='%d%b%Y')
combined_data['SiteID2'] = combined_data['SiteID']
combined_data = combined_data.set_index(['SiteID', 'PondID', 'Date'])
instrumentation_data = instrumentation_data.set_index(['SiteID', 'Date'])

Merge the Data

In [56]:
mid_merge = instrumentation_data.merge(weather_data, left_index=True, right_on=['SiteID', 'Date'])
combined_data = combined_data.merge(mid_merge, left_index=True, right_on=['SiteID', 'PondID', 'Date'])

In [57]:
#export and test the csv file
combined_data.to_csv("/content/Combined Data.csv")
combined_data

              Protein.AF  FAME.Lipids.AF  ...  WDir(deg) Precip.tot(cm)
ExperimentID                              ...
OCT172013          43.86           10.77  ...     198.29           0.00
OCT172013          44.32             NaN  ...     177.74           0.00
OCT172013          43.07           13.09  ...     194.43           0.18
OCT172013          43.35           11.17  ...     198.29           0.00
OCT172013          43.40             NaN  ...     177.74           0.00
...                  ...             ...  ...        ...            ...
JUN172015            NaN             NaN  ...     250.85           0.00
JUN172015            NaN             NaN  ...     250.85           0.00
JUN172015            NaN             NaN  ...     250.85           0.00
JUN172015            NaN             NaN  ...     250.85           0.00
JUN172015            NaN             NaN  ...     250.85           0.00

[2059 rows x 57 columns]